body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

.navbar {
    background: #4a6fa5;
    color: #fff;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.sidebar {
    width: 180px;
    background: #333;
    color: #fff;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    padding-top:60px;
}

.sidebar li {
    padding: 12px;
    border-bottom:1px solid #444;
}

.main {
    margin-left:200px;
    margin-top:70px;
    padding:20px;
}

.cards {
    display: flex;
    gap:10px;
}

.card {
    background:white;
    padding:15px;
    border-radius:4px;
    flex:1;
    text-align:center;
}

table {
    background:white;
    width:100%;
    border-collapse: collapse;
    margin-top:10px;
}

td,th {
    border:1px solid #ccc;
    padding:10px;
}

/* modal */
.modal {
    display:none;
    position:fixed;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
}

.modal-content {
    background:white;
    padding:15px;
    border-radius:5px;
    width:230px;
}

@media(max-width:600px){
    .sidebar{
        display:none;
    }
    .main{
        margin:80px 10px;
    }
    .cards{
        flex-direction:column;
    }
}
